{% extends 'base.html.twig' %}

{% block title %}
  Contact
{% endblock %}

{% block body %}
  <h1>Contact</h1>

  <div class="row">
    <div class="col-md-6">
      {{ form_start(form) }}

      {{ form_row(form.firstName, {'attr': {'class': 'form-control mb-3', 'placeholder': 'First Name'}}) }}
      {{ form_row(form.lastName, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Last Name'}}) }}
      {{ form_row(form.email, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Email'}}) }}
      {{ form_row(form.message, {'attr': {'class': 'form-control mb-3', 'placeholder': 'Message'}}) }}
      
    </div>
  </div>
{% endblock %}
